@use "./variables" as *;

.form-title {
  position: relative;
}

.form {
  color: black;
  font-weight: 400;
}

.close-form-btn {
  display: block;
  padding: 1rem;
  border: 2px solid gray;
  border-radius: 100px;
  color: $whitebone;
  font-size: 1.5rem;
  font-family: $limelight;
  width: fit-content;
  position: absolute;
  bottom: 100%;
  right: -30px;
  cursor: pointer;
}

.close-form-btn:hover {
  border: 2px solid $altgreen;
  color: $altgreen;
}
