//*? the card grid

// section.movies-info {
//     background-color: rgb(209, 207, 207);
// }

.movies-info {
    padding-top: 4rem;

    &__divider {
        width: 50%;
        margin: 2rem auto;
    }
}

.grid-title {
    text-transform: uppercase;
    // color: > inherited from body
}

.card {
    cursor:pointer;
    transform: scale(1);
    transition: transform ease-out 0.2s;
    &:hover {
        transform: scale(1.05)
    }
}

