//*font classes

.limelight-bg {
    font-family: "Limelight", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;

    @media (min-width:500px){
      font-size: 7rem;
    }
  }

  .limelight-sm {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;

      @media (min-width:500px){
        font-size: 3rem;
      }
  }


  // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 700

.roboto-mono-regular {
    font-family: "Roboto Mono", monospace;
    // font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
  }


