//*font classes

.limelight-bg {
  font-family: "Limelight", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;

  @media (min-width: 500px) {
    font-size: 7rem;
  }

  @media (min-width: 1000px) {
    font-size: 10rem;
  }
}

.limelight-sm {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;

  @media (min-width: 500px) {
    font-size: 4rem;
  }
}

.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5rem;
}
