@use "../../../sass-partials/variables" as *;
@use "../../../sass-partials/utils" as *;
@import "bootstrap/scss/bootstrap";

body {
  background-color: #303030;
}

.main-container,
.left,
.right {
  height: 100svh;
}

.left {
  background-color: gray;
}

.left-image {
  width: 80%;
}

.form {
  width: 60%;
  margin: 0 auto;
  color: black;
}
