@use "./sass-partials/forward";

body {
  background-color: #303030;
  color: #dddcdc;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.header {
  background-color: black;
}

img {
  width: 100%;
}

.btn {
  transition-duration: 0.06s;
}